body {
  background-color:#EFEFEF ;
    
  }



.name-type {
  width: 559px;
  height: 48px;
}

.container {
  display: flex;
  justify-content: center;
}
.cont{
  padding: 25px;
  margin: 0px;
 
  text-align: center;
}
.btn{
 
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(255, 255, 255);
  word-spacing: 0px;
  cursor: pointer;
  height: 44.6307px;
  width: 122.395px;
  margin: 10px 10px 0 0;
  padding: 13px 21px 13px 21px;
  min-height: auto;
  min-width: auto;
  background-color: transparent;
  outline: solid;
  color: black;

}
.btn1{
  font-size: 16px;
  line-height: 24px;
  text-decoration: none solid rgb(255, 255, 255);
  word-spacing: 0px;
  cursor: pointer;
  height: 44.6307px;
  width: 122.395px;
  margin: 10px 10px 0 0;
  padding: 13px 21px 13px 21px;
  min-height: auto;
  min-width: auto;
  background-color: transparent;
  outline: solid;
  color: black;
  border-color: black;
 
}
.btn1:hover{
  color: red;
}

.btn:hover{
   color: red;
}
.label{
  color: red;
}
.header-text{
  display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 2%;
}
