<app-navbar></app-navbar>
<section class="m-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="login-register">
          <div class="title-1">
            <span class="head_title">
              Simple GST Billing
            </span>
            &
            <span class="head_title">
              Stock Inventory
            </span>
            Software for your business
          </div><br><br><br>
          <div>
            <span class="head_type">Atmanirbhar Vyapaari bane </span>
            <img src="assets/images/india-flag.png" height="42" width="50">
          </div>
          <div class="input-btn-container">
            <input class="form_type" type="tel" placeholder="Enter Mobile Number"
             maxlength="10" onlynumber="true">
            <button class="btn_red">Start Making Bills</button>
          </div>
          <div class="google_play">
            <a
              href="https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jul0121&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-in-1003227-med-hasem-py-Evergreen-Jul0121-Text_Search_BKWS-BKWS%7cONSEM_kwid_43700058906740777_creativeid_480977735237_device_c&gclid=CjwKCAjw3MSHBhB3EiwAxcaEu3Ii7m-PHlAbLwz_gzCfAnkkufLbfpuYjM13HsmwvnLr6AwVweOr1RoCvCUQAvD_BwE&gclsrc=aw.ds"
              target="_blank">
              <img src="assets/images/play-store.png" width="142" height="41">
            </a>
          </div>
          <button class="btn-black">
            Download Desktop App
            <img src="assets/images/download.png" style="margin-left: 15px;">
          </button>
          <div class="banner_disp">
            <div class="india">
              Made with ❤️ in India
            </div>
            <div>
              <img src="assets/images/iso-black.png">
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <img class="image_ban" src="assets/images/invo.png">

      </div>
    </div>
    <div>
      <div class="border-orange">

      </div>
      <div class="statistics">
        <div class="stat">
          <div class="txt">
            50 Lac+
          </div>
          <div class="sub-txt"><br>
            Businesses Trust us
          </div>
        </div>
        <div class="stat">
          <div class="txt">
            3 cr +
          </div>
          <div class="sub-txt"><br>
            Invoices created
          </div>
        </div>
        <div class="stat">
          <div class="txt">
            7000+
          </div>
          <div class="sub-txt"><br>
            Cities & Towns in India
          </div>
        </div>
        <div class="stat">
          <div class="txt">
            4.6
            <img src="assets/images/star.png">
          </div>
          <div class="sub-txt"><br>
            Rating On Google Play
          </div>
        </div>


      </div>
    </div>
  </div>

</section>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="print_bill">
          <div class="title"><br><br>
            <span class="span_title">Create and Print </span><br>
            <span class="head_title">
              Professional Bills
            </span>
            <span class="span_title">or</span>
            <span class="head_title">
              GST Invoices
            </span>
            <div class="feature">
              <span class="feature-txt">Fully customizable according to your
                business needs</span>

            </div>
            <div class="detail">
              <div class="pointer"></div>
              <span class="point-txt"> Add Custom fields such as Batch No,
                Vehicle No., Eway bill.. etc </span>


            </div>
            <div class="detail">
              <div class="pointer"></div>
              <span class="point-txt"> Choose your own invoice formats </span>
            </div>
            <div class="feature"><br><br><br>
              <span class="feature-txt">Print according to your needs</span>
            </div>
            <div class="detail">
              <div class="pointer"></div>
              <span class="point-txt"> Regular printer supported (A4 & A5)
              </span>


            </div>
            <div class="detail">
              <div class="pointer"></div>
              <span class="point-txt">Thermal Printer supported (2 inch & 3
                inch)
              </span>


            </div>

           

          </div>




        </div>



      </div>
      <div class="col-sm-6">
        <img src="assets/images/bills-invoice.jpg" width="850" height="625">
      </div>
    </div>
  </div>
</section>
<section>
<div class="container-fluid">
  <div class="title-col">
    <span class="head_title">Why</span>&nbsp;
    <span class="span_title">use My BillBook? </span>

  </div>
  <div class="row">
    <div class="grid_img">

<img src="assets/images/manage-inventory.png">
<div class="grid_txt"> Manage Your Inventory </div>
<div class="grid_sub_txt">Track Inventory with features such as low stock reminders, item categories & stock adjustment</div>
</div>
<div class="grid_img">
  <img src="assets/images/easy-accounting.png">
<div class="grid_txt"> Manage Your Inventory </div>
<div class="grid_sub_txt">Track Inventory with features such as low stock reminders, item categories & stock adjustment</div>

</div>
<div class="grid_img">

<img src="assets/images/collect-payment.png">
<div class="grid_txt"> Manage Your Inventory </div>
<div class="grid_sub_txt">Track Inventory with features such as low stock reminders, item categories & stock adjustment</div>

</div>
<div class="grid_img">

  <img src="assets/images/order-online.png">
  <div class="grid_txt"> Get Orders Online </div>
  <div class="grid_sub_txt">Create custom mobile app and website for your business and increase sales</div>
  
  </div>
  <div class="grid_img">

    <img src="assets/images/collect-payment.png">
    <div class="grid_txt"> Manage Your Inventory </div>
    <div class="grid_sub_txt">Track Inventory with features such as low stock reminders, item categories & stock adjustment</div>
    
    </div>
    <div class="grid_img">

      <img src="assets/images/collect-payment.png">
      <div class="grid_txt"> Manage Your Inventory </div>
      <div class="grid_sub_txt">Track Inventory with features such as low stock reminders, item categories & stock adjustment</div>
      
      </div>
</div>


</div>
</section>
<section class="m-4">
  <div class="container-fluid">
    <div class="base-border">
    <div class="border-orange">

    </div>
    
  </div>
  <div class="stay-connect">
  <div class="title-connect">
<span class="span_title">Stay</span>&nbsp;&nbsp;
<span class="head_title">Connected</span>
    </div>
<div class="sync-data"> Sync data seamlessly between Computer & Mobile </div>
<div class="image-content">
<img src="assets/images/stay-connected.png" height="589">
</div>
  </div>
  </div>
</section>
<section>
  <div class="container-fluid">
<div class="orange-line">

</div>
<div class="row">
  <div class="col-sm-6">
<div class="heading">
<span class="head_title" >Who</span>&nbsp;
<span class="span_title" >is it for?</span>
</div>
  </div>
  <div col-sm-6>

  </div>
</div>
  </div>
</section>





<router-outlet></router-outlet>