.login-register{
    margin-left: 40px;
}


.title-1{
    font-size: 36px;
    
}

.head_title{
font-size: 36px;
font-weight: 600;
line-height: 54px;
text-decoration: none solid rgb(239, 115, 56);
text-align: left;
word-spacing: 0px;


background-position: 0% 0%;
color:  #EF7338;

height: auto;
width: auto;

display: inline;
}


.image_ban{
    padding-top: 30px;
    float: right;
    width: 100%;
    height: 600px;
}
.head_type{
font-size: 26px;
line-height: 39px;
text-decoration: none solid rgb(33, 37, 41);
text-align: left;
word-spacing: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

background-position: 0% 0%;
color:  #212529;
}
.input-btn-container{
    width: 500px;
    height: 60px;
    position: relative;
    margin-top: 35px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 13%);
}
.form_type{
    width: 100%;
    height: 60px;
    border: 1px solid #d9d4d4;
    font-size: 20px;
    color: #525252;
}
.btn_red{
    position: absolute;
    height: 40px!important;
    width: 180px!important;
    top: 10px;
    right: 10px;
    font-size: 16px!important;
    background-color:  #FF0000;
    border: 1px solid  #FF0000;
    color:  #FFFFFF;
}
.btn-black{
    height: 40px;
    width: 230px;
    border: 1px solid  #485563;
    margin: 0 0 0 16px;
    padding: 0 8px 0 8px;
    min-height: auto;
    min-width: auto;
    background-color:  #485563;
background-position: 0% 0%;
color:  #FFFFFF;
font-size: 15px;
margin-top: 83px;
line-height: 24px;
text-decoration: none solid rgb(255, 255, 255);
text-align: center;
word-spacing: 0px;
font-family:  'Arial Narrow', Arial, sans-serif;
}
.google_play{
   
    display: inline;
}
.banner_disp{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 33px;
    margin-bottom: 27px;
}
.india{
    font-size: 20px;
    margin-right: 35px;

}
.border-orange{
    width: 250px;
    height: 4px;
    background-color: #ef7338;
}
.statistics{
    width: 100%;
    background-color: #fbf7f4;
    padding: 55px 90px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.stat{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.txt{
    font-size: 40px;
    font-weight: 600;
    color: #ef7338;
}
.sub-txt{
    font-size: 20px;
}
.stat_text{
    font-size: 40px;
    font-weight: 600;
    color: #ef7338;
}
.print_bill{
    display: -webkit-box;
    display: flex;
    padding-left: 90px;
    height: 660px;

}
.span_title{

        padding-top: 25px;
        font-size: 36px;
    
}
.feature{
    margin-top: 33px
}
.feature-txt{
    font-size: 15px;
    font-weight: 600;
}
.detail{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}
.pointer{
    margin-top: 4px;
    width: 23px;
    height: 2px;
    border-top: 2px solid #ef7338;
}
.point-txt{
    font-size: 20px;
    margin-left: 15px;
}
.title-col{
    padding-left: 90px;
    padding-top: 28px;
    padding-bottom: 20px;
}
.grid_img{
    width: 28%;
    margin-right: 50px;
    margin-top: 22px;

}
.row{
    padding-left: 90px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}
.grid_txt{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.grid_sub_txt{
    font-size: 16px;
    margin-top: 7px;
}
.base-border{
    display: flex;
    margin-left: 5px;
}
.title-connect{
    padding-left: 90px;
}
.stay-connect{
    padding-top: 50px;
}
.sync-data{
    padding-left: 90px;
    font-size: 22px;
}
.image-content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.orange-line{
    width: 100%;
    height: 6px;
    background-color: #EF7338;
}
.heading{
    padding-left: 90px;
    height: 62px;
    margin-top: 58px;
}