<section class="head_top">
  <div class="container-fluid">
    <nav class="navbar">
      <div class="navbar-header">
        <img  [routerLink]="['/']" src="assets/images/logo.png" width="22%" />
        
       
      </div>
      <div>
<a href="#" target="blank" class="link_cursor">We Are Hiring</a>
<a href="#" target="blank" class="link_cursor">Why Use My BillBook?</a>
<a href="#" target="blank" class="link_cursor">Who is it for?</a>
<a href="#" target="blank" class="link_cursor">Online Store </a>
<a href="#" target="blank" class="link_cursor">Why Use My BillBook?</a>
<button [routerLink]="['/register']" class="reg_btn"> Sign Up</button>
      </div>
    </nav>
  </div>
</section>
